body.homepage {
    background-image: url('images/forest-3463.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Ma Shan Zheng', 'Pacifico', sans-serif;
    color: #bfaedc;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: larger;
}
  
.big-text {
    font-size: 5em;
    margin-bottom: 80px;
    color: #fef6f3;
}
  
.button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #2f4f4f;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
  
.button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
  
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.delay-0 { animation-delay: 0.5s; }
.delay-1 { animation-delay: 2.5s; }
.delay-2 { animation-delay: 5s; }
.delay-3 { animation-delay: 7.5s; }
.delay-4 { animation-delay: 10s; }
.delay-5 { animation-delay: 12.5s; }
.delay-6 { animation-delay: 15s; }
.delay-7 { animation-delay: 17.5s; }
  
@keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}
